<%= form_tag project_tasks_path(project), method: :get, 'data-filter-target': 'form', id: "filtersContainer" do %>
  <div class="tag-item">
    <%= check_box_tag :project_tasks, "true", params[:puzzle] == "true", class: "tag-selector", "data-action": "change->filter#toggleAll", "data-filter-target": "all" %>
    <%= label_tag :project_tasks, "#Puzzle" %>
  </div>

  <% if current_user.present? %>
    <div class="tag-item">
      <%= check_box_tag :assigned_to_me, current_user.id, params[:assigned_to_me] == current_user.id.to_s, class: "tag-selector", "data-filter-target": "input", 'data-action': 'change->filter#apply' %>
      <%= label_tag :assigned_to_me, "#Assigned to me" %>
    </div>
  <% end %>

  <% @project.topics.uniq.each do |topic| %>
    <%= render "tasks/topic_filter", topic: topic %>
  <% end %>
<% end %>
