<div class="header1">
	<h1 id="project-header-title">
		<b id="text-low">
			<% if topic_selected %>
				<%= project.name %>
					<span style="color: <%= project.txt_color %>">
						#<%= topic_selected.name %>
					</span>
			<% else %>
				<%= project.name %>
				<span style="color: <%= project.txt_color %>">
					#Puzzle
				</span>
			<% end  %>
		</b>
	</h1>
	<% if topic_selected.nil? %> <!-- Condition on the button to join the project %>-->
		<% if user_signed_in? && project.users.include?(current_user) %>
			Member
		<% elsif user_signed_in? && project.users.exclude?(current_user) %>
			<%= link_to "Join #{project.name} Puzzle", join_puzzle_project_path(project), method: :post, class: "button-type", style: "background-color: #{project.txt_color}" %>
		<% else %>
			<button type="button" class="button-type" style="background-color: <%= project.txt_color %>;" data-toggle="modal" data-target="#login-modal">
				Join <%= project.name %> Puzzle
			</button>
		<% end %>
	<% else %>
		<div class="set-deadline" data-timer-target="container"><!-- If topic is selected display the timer edition only for the project.user >-->
			<%= render "tasks/timer", project: project, topic_selected: topic_selected, date: date %>
		</div>
	<% end %>
</div>
<div id="header2">
	<div class="topic_title">
		<% if topic_selected  %>
			<p><%= topic_selected.description %>
			<% if topic_selected.can_vote == true %>
				(On vote)
			<% end %></p>
		<% else %>
			<p id="description-p"><%= project.description %></p>
		<% end  %>
	</div>
	<% if topic_selected.nil? %>
	<% elsif  topic_selected.date.nil? && project.user != current_user %>
		<p>No time limit here</p>
	<% else %>
		<div class="reset-deadline">
			<p>Before deadline
			<% if current_user == project.user %>
				<a href="#" id="reset-button" data-action="click->timer#reset" data-id="<%= topic_selected.id %>">
					<i class="fas fa-undo"></i></p>
				</a>
			<% end %>
		</div>
	<% end %>
</div>