<div data-controller="task" data-task-target="card" data-id="<%= task.id %>">
  <%= simple_form_for([ @project, task ], html: { novalidate: "novalidate", "data-task-target": "form", "data-action": "submit->task#submit"}) do |f| %>
    <div class="task-card" id="task-<%= task.id %>"> <!-- Start of task-card div -->
      <div class="task-edit"> <!-- Div for token number form or display -->
        <div>
          <% if task.topic.present? == false %> <!-- Iteration on  -->
          <p id="token-number"><p>
          <% elsif task.private? && task.topic.can_vote == true %>
            <p id="token-number">Vote 🗳<p>
          <% elsif task.topic.present? && task.topic.can_vote == true && task.was_upvoted_by(current_user) %>
            <p id="token-number">
              <span id="tokenContainer"><%= task.token_number %></span>
              <%= image_tag("piece.png", :width => 25, style: "margin-left: 10px; padding-bottom: 5px") %>
            <p>
          <% elsif task.topic.present? && task.topic.can_vote == true %>
            <p id="token-number">
              <span id="tokenContainer"><%= task.token_number %></span>
              <span id="vote-button" class="button-postfix" data-action="click->task#vote">
                <i class="fas fa-sort-up"></i>
              </span>
              <%= image_tag("piece.png", :width => 25, style: "margin-left: 10px; padding-bottom: 5px") %>
            <p>
          <% elsif task.token_number.positive? %>
            <p id="token-number">
              <span id="tokenContainer"><%= task.token_number %></span>
              <%= image_tag("piece.png", :width => 25, style: "margin-left: 10px; padding-bottom: 5px") %>
            </p>
          <% else %>
            <% if policy(task).update? %>
              <%= f.input :token_number, as: :string, label: false, placeholder: '0', input_html: { novalidate: "novalidate", autocomplete: 'off'} %>
            <% else %>
              <p id="token-number">
                <span id="tokenContainer"><%= task.token_number %></span>
                <%= image_tag("piece.png", :width => 25, style: "margin-left: 10px; padding-bottom: 5px") %>
              <p>
            <% end %>
          <% end %>
        </div>
      </div>

      <% if task.confidentiality == "Private" && task.user.nil? %> <!-- "Status" pastille of the task -->
        <div class="confidentiality-private">
          <p>Private</p>
        </div>
      <% elsif task.confidentiality == "Public" && task.user.nil?%>
        <div class="status-unassigned">
          <p>Unassigned</p>
        </div>
      <% elsif task.status == "claimed" %>
        <div class="status-done">
          <p>Done</p>
        </div>
      <% else %>
        <div class="status-ongoing">
          <p>On going</p>
        </div>
      <% end %>

      <div class="task_assign_title">
        <% if task.user.nil? %><!-- Photo of the user when assigned -->
        <% else %>
          <div class="photo-round-small">
            <% if task.user.photo.attached? %>
              <%= cl_image_tag task.user.photo.key, width: 20, style: "border-radius: 100%" %>
            <% else  %>
              <div class="profile-backgroun-small-30">
                  <i id="user_blank-small-30" class="far fa-user"></i>
                </div>
            <% end %>
          </div>
        <% end %>
        <% if policy(task).update? %>
          <div class="task-title" data-action="mouseenter->task#togglePen mouseleave->task#togglePen click->task#toggleForm"><!-- Task title div -->
            <p data-task-target="title"><%= task.title %><%= icon("fas", "pen", class: "ml-3 invisible", "data-task-target": "pen") %></p>
            <div class="form-group string required task_title form-group-valid">
              <input class="form-control string required d-none" style="opacity: 1; height: initial; padding-left: 0.75rem;" data-task-target="titleForm" type="text" value="<%= task.title %>" name="task[title]" id="task_title">
            </div>
          </div>
        <% else %>
          <div class="task-title"><!-- Task title div -->
            <p><%= task.title %></p>
          </div>
        <% end %>
      </div>

      <div class="task-topic"><!-- Task topic div form if task topic.nil? -->
        <% if task.topic.present? %>
          <p id="topic-p">#<%= task.topic.name %></p>
        <% else %>
          <%= f.association :topic, collection: @project.topics, label: false, prompt: '#Subpuzzle', input_html: { autocomplete: 'off' } %>
        <% end %>
      </div>


      <div class="comment">
          <a href="#description-<%= task.id %>" data-toggle="modal" data-target="#description-<%= task.id %>">
            <i class="far fa-comment <%= 'comment_active' if task.description.present? %>"></i>
          </a>
      </div>

      <!-- Task time -->
      <% if policy(task).mark_as_public? %>
        <div class="task-edit" id="task-user-align">
          <span class="button-postfix" data-action="click->task#makePublic">
            <p>Make public <i class="fas fa-eye"></i></p>
          </span>
        </div>
      <% elsif policy(task).assign? %>
        <div class="task-edit" id="task-user-align">
          <%= f.input :status, label: false, input_html: {value: 'ongoing', hidden: true}, style: "display: none" %>
          <%= f.association :user, collection: @project.users, label: false, prompt: 'Contributor', label_method: :full_name, input_html: { "data-action": "change->task#submit" } %>
        </div>
      <% elsif policy(task).mark_as_done? %><!-- Step 3: Form for marking the task as done  -->
        <div class="task-edit" id="task-user-align">
          <span class="button-postfix" data-action="click->task#markAsDone">
            <p>Mark as done ></p>
          </span>
        </div>
      <% else %>
        <div class="task-edit" id="task-user-align">
        </div>
      <% end %>

      <div class="time-ago">
        <% if policy(task).archive? %>
          <span class="button-postfix" data-action="click->task#archive">
            <i class="fas fa-times"></i>
          </span>
        <% end %>
        <!--<p><%= time_ago_in_words(task.created_at)%></p>-->
      </div>

    </div>

    <!-- Notification -->

    <% if current_user.present? %>
        <span id="bubble-<%= task.id %>" class="notification-bubble middle-right-bubble <%= 'd-none' unless current_user.has_notifications_for(task) %>"></span>
    <% end %>

    <%= f.submit class: "d-none" %>
  <% end %>
</div>

  <!-- Modal task description : modal should not be here but it was easy and quick inside the iteration -->
  <div id="description-<%= task.id %>" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <%= simple_form_for([ @project, task ], html: {"data-task-target": "descrForm", "data-action": "submit->task#updateDescr", "data-task-id": task.id}) do |ff| %>
      <div class="modal-dialog" role="document" id="description-dialog">
        <div class="modal-content" id="description">
          <div class="modal-header" id="description-header">
            <h2 class="modal-title" id="exampleModalLabel">
              <%= task.token_number %><%= image_tag("piece.png", :width => 40, style: "padding-bottom: 15px; margin-left: 10px;") %> <%= task.title %></h2>
          </div>
          <div class="modal-body" id="description-body">
            <div class="task-creator">
              <% if task.creator.pseudo.nil? %>
                <p>Created by @<%= task.creator.first_name %><%= task.creator.last_name %>  <%= time_ago_in_words(task.created_at)%></p>
              <% else %>
                  <p>Created by @<%= task.creator.pseudo %>  <%= time_ago_in_words(task.created_at)%></p>
              <% end %>
              <% if task.topic.nil? %><!-- Form to assign topic or to display topic -->
                <p>No #topic yet </p>
              <% else %>
                <p style="color: white">#<%= task.topic.name  %></p>
              <% end %>
              <% if task.user.present? %>
                <p style="color: white">Assigned to @<%= task.user.pseudo %></p>
              <% else %>
                <p>Not assigned yet</p>
              <% end %>
            <hr>
          </div>
          <% if task.description.nil? && policy(task).update? %><!-- Form to enter description -->
              <%= ff.input :description, label: false, placeholder: 'Add description to the piece...'%>
              <%#= ff.button :submit %>
          <% else %>
            <p id="description-p"><%= task.description %></p>
          <% end %>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" id="share3" data-dismiss="modal">Close</button>
            <% if task.description.nil? %>
              <button type="submit" class="token_box" id="share2">+ Add description</button>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
