<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

<body>

<div class="page-header"><!-- Header above the container %>-->
    <div id="firs-separation" class="col-7">
      <% if user_signed_in? %>
        <div id="token_box">
          <p>
            <% if current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key, width: 30, style: "border-radius: 100%; margin-bottom: 10px;" %>
            <% else %>
              <i id="user_blank-small-40" class="far fa-user" style="margin-left: 10px" data-toggle="modal" data-target="#photo-modal"></i>
            <% end %>
              <span id="tokenUserTotal" data-id="<%= current_user.id %>">
                <%= current_user.tasks.where(status: "claimed").pluck(:token_number).map(&:to_i).sum %>
              </span>
          </p>
            <div class="nav-item dropdown">
              <i class="fas fa-chevron-down dropdown-toggle"id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ></i>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </div>
          |
          <p>
            <button class="enableEthereumButton">Connect Wallet</button>
            <span class="showAccount"></span>
          </p>
      </div>
      <% else %>
        Login
      <% end %>
    </div>
    <div id="request" class="col-5">
      <% if current_user == @project.user %>
        <button class="button-type">
            Share <%= @project.name %> Puzzle 🔗
        </button>
      <% else %>
        <button class="button-type">
          Request access to my Puzzle
        </button>
      <% end %>
    </div>
</div>

<div class="container" data-controller="tasks" id="mainContainer" data-user-id="<%= @project.id %>"> <!-- Change from <%= current_user %> to <%= @project.id %>-->
  <div class="puzzle-header">
    <div>
      <div class="header1">
        <h1 id="project-header-title">
          <b id="text-low">
            <% if params[:by_topic].present?%><!-- Condition on #topic title %>-->
              <%= @project.name %>
                <span>
                  #<%= @topic_selected.name %>
                </span>
            <% else %>
              <%= @project.name %>
              <span>
                #Puzzle
              </span>
            <% end  %>
          </b>
        </h1>
        <% if @topic_selected.nil? %> <!-- Condition on the button to join the project %>-->
          <% if user_signed_in? && @project.users.include?(current_user) %>
            Member
          <% elsif user_signed_in? && @project.users.exclude?(current_user) %>
            <%= link_to "Join '@project.name' Puzzle", join_puzzle_project_path(@project), method: :post, class: "button-type" %>
          <% else %>
            <button type="button" class="button-type" data-toggle="modal" data-target="#login-modal">
              Join <%= @project.name %> Puzzle
            </button>
          <% end %>
        <% else %>
            <div class="set-deadline"><!-- If topic is selected display the timer edition only for the @project.user >-->
              <% if @topic_selected.date.nil? && @project.user == current_user %>
                  <div class="datepicker">
                        <%= simple_form_for([@project, @topic_selected], html: { class: "form-horizontal"}) do |f| %>
                          <%= f.input :date, default: Time.parse('00:00'), label: false, date_separator: '', time_separator: '', datetime_separator: " " %>
                          <%= f.submit 'Start', id: 'time_set' %>
                        <% end %>
                  </div>
              <% elsif @topic_selected.date.nil? && @project.user != current_user %>
                <h1 id="timer" style="margin-left: 170px"><i class="fas fa-infinity"></i></h1>
              <% else %>
                  <h1 id="timer">
                    <% if @date[:weeks] == 0 %>
                      <%= pluralize @date[:days], "day" %>
                    <% else  %>
                      <%= pluralize (@date[:weeks]*7 + @date[:days]), "day" %>
                    <% end %>
                      <%= pluralize @date[:hours], "h" %> <i class="far fa-clock"></i></h1>
              <% end %>
            </div>
        <% end %>
      </div>
      <div id="header2">
        <div class="topic_title">
          <% if @topic_selected.nil?  %>
           <p><%= @project.description %></p>
          <% else %>
            <p><%= @topic_selected.description %>
            <% if @topic_selected.can_vote == true %>
              (On vote)
            <% end %></p>
          <% end  %>
        </div>
        <% if @topic_selected.nil? %>
        <% elsif  @topic_selected.date.nil? && @project.user != current_user %>
          <p>No time limit here</p>
        <% else %>
          <div class="reset-deadline">
            <p>Before deadline
            <% if current_user == @project.user %>
                <%= link_to reset_time_project_path(@project), id: "reset-button" , method: :post do %>
                  <i class="fas fa-undo"></i></p>
              <% end %>
            <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <hr id="separation1">

  <!-- Filters with links_to and params for filtering the view -->
  <div data-controller="filter">
    <div class="filters">
      <%= render "tasks/filters", project: @project, topics: @topics %>
        <% if current_user == @project.user %>
            <p id="button-spuzzle" data-toggle="modal" data-target="#topic-modal">+Create subpuzzle</p>
        <% end %>
    </div>

    <% if params[:by_topic].present?%> <!-- Rules div -->
      <div class="rules-description">
        <h2>Rules</h2>
          <p><%= @topic_selected.rules %></p>
            <button type="button" class="button-type">
              Got it 👌
            </button>
      </div>
    <% end %>

    <% if params[:by_topic].present? %>
        <% if @topic_selected.can_create_task == true %>
          <div class="task-create-button">
            <%= simple_form_for([ @project, @task ], html: { "data-tasks-target": "createForm", "data-action": "submit->tasks#submit" }) do |f| %>
              <%= f.input :title, label: false, placeholder: '+ Create a new puzzle piece', input_html: { autocomplete: 'off', "data-tasks-target": "input" }, :error_html => { :id => "name_error"} %>
            <% end %>
          </div>
          <% elsif current_user == @project.users.first %>
            <div class="task-create-button">
              <%= simple_form_for([ @project, @task ], html: { "data-tasks-target": "createForm", "data-action": "submit->tasks#submit" }) do |f| %>
                <%= f.input :title, label: false, placeholder: '+ Create a new puzzle piece', input_html: { autocomplete: 'off', "data-tasks-target": "input" }, :error_html => { :id => "name_error"} %>
              <% end %>
          </div>
        <% end %>
  <% end %>


    <!-- Start of the index of the tasks @filtered_tasks -->

      <div id="tasks" data-project-id="<%= @project.id %>" data-filter-target="list" data-tasks-target="list" > <!-- Div with all the tasks -->
        <% if @project.tasks.empty? %>
          Be the first to create a task
        <% else %>
          <%= render "tasks/list", tasks: @tasks %>
        <% end %>
      </div>
  </div>

  <!-- End of the list of tasks-->

  <!-- Modal for project members -->
  <div class="modal fade" id="membersmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="member-header">
            <h5 class="modal-title"><%= @project.name %> 's Puzzle members </h5>
            <p><%= @project.users.count %> members in the puzzle</p>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div>
          <div class="member-line">

              <% if @project.user.photo.attached?  %>
                <div class="photo-round-small-40">
                <%= cl_image_tag @project.user.photo.key, width: 30, style: "border-radius: 100%" %>
                </div>
              <% else %>
                <div class="photo-round-small-40">
                  <div class="profile-background" id="editable-photo">
                      <i id="user_blank-small-40" class="far fa-user"></i>
                  </div>
                </div>
              <% end %>
            <p><%= @project.user.tasks.where(status: "claimed").map { |task| task.token_number.to_i }.sum %><%= image_tag("piece.png", :width => 25, style: "margin-left: 10px; padding-bottom: 5px") %></p>
            <% if @project.user.pseudo.nil? %>
              <p id="name">@<%= @project.user.first_name + " " %><%= @project.user.last_name %></p>
            <% else %>
              <p id="name">@<%= @project.user.pseudo %></p>
            <% end %>
            <div class="filter" id="member-state">
              <p>Puzzle Master 👑</p>
            </div>
          </div>
          <% @project.users.each do |member| %>
            <% if member != @project.user %>
              <div class="project-users">
                <div class="member-line">
                  <% if member.photo.attached? %>
                    <div class="photo-round-small-40">
                      <%= cl_image_tag member.photo.key, width: 30, style: "border-radius: 100%" %>
                    </div>
                  <% else %>
                      <div class="profile-background" id="editable-photo">
                        <i id="user_blank-small-40" class="far fa-user"></i>
                      </div>
                  <% end %>
                  <p><%= member.tasks.where(status: "claimed").map { |task| task.token_number.to_i }.sum %><%= image_tag("piece.png", :width => 25, style: "margin-left: 10px; padding-bottom: 5px") %></p>
                  <% if member.pseudo.nil? %>
                    <p id="name">@<%= member.first_name + " " %><%= member.last_name %></p>
                  <% else %>
                    <p id="name">@<%= member.pseudo %></p>
                  <% end %>
                  <% if member.tasks.nil?  %>
                    <div class="filter" id="member-state">
                      <p>Member 👤</p>
                    </div>
                  <% else %>
                    <div class="filter" id="member-state">
                      <p>Contributor 🔥</p>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<!-- End of container -->

<!-- Sign_up modal -->

    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-body">
          <%= render template: "devise/registrations/new" %>
        </div>
      </div>
    </div>
  </div>

    <!-- Modal change photo -->

  <div class="modal fade" id="photo-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Change your photo</h5>
        </div>
        <% if current_user.present? %>
         <div class="modal-body">
          <%= render template: "devise/registrations/edit" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <!-- Modal for creating topic -->

  <div class="modal fade" id="topic-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" id="subpuzzle-create">
        <div class="modal-header">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link active" id="pills-contact-tab" data-toggle="pill" href="#pills-templates" role="tab" aria-controls="pills-templates" aria-selected="false">Templates</a>
            </li>
            <li>
              <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-custom" role="tab" aria-controls="pills-custom" aria-selected="false">Custom</a>
            </li>
          </ul>
        </div>
        <div class="modal-body">
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-templates" role="tabpanel" aria-labelledby="pills-home-tab">
              <div class="templates">
              </div>
            </div>
            <div class="tab-pane fade" id="pills-custom" role="tabpanel" aria-labelledby="pills-home-tab">
              <div class="create_topic">
                <%= simple_form_for([@project, @topic]) do |f| %>
                 <%= f.input :name,  label: false, placeholder: 'Name*', input_html: { autocomplete: 'off' }, required: true %>
                 <%= f.input :description, label: false, placeholder: 'Describe the goal of the subpuzzle in one sentance*', input_html: { autocomplete: 'off' }, required: true %>
                 <div>
                  <%= f.input :rules, label: false, placeholder: 'Describe the rules step by step*', input_html: { autocomplete: 'off' }, required: true %>
                 </div>
                <hr>
                <p>⚙️ Authorize everyone to :</p>
                  <div class="custom-control custom-switch">
                     <%= f.check_box :can_create_task, class: "custom-control-input", id: "customSwitch1"  %>
                      <label class="custom-control-label" for="customSwitch1">Create new tasks</label>
                  </div>
                  <div class="custom-control custom-switch">
                     <%= f.check_box :can_assign_task, class: "custom-control-input", id: "customSwitch2"  %>
                      <label class="custom-control-label" for="customSwitch2">Assign someone to a task</label>
                   </div>
                <hr>
                <p>💰 Rewards</p>
                 <div class="custom-control custom-switch">
                    <%= f.check_box :can_vote, class: "custom-control-input", id: "customSwitch3"  %>
                    <label class="custom-control-label" for="customSwitch3">By vote only</label>
                 </div>
                 <%= f.button :submit, "Add Subpuzzle", class: "button-type", id: "button-subpuzzle" %>
              <%end%>
            </div>
           </div>
        </div>
      </div>
    </div>
  </div>

    <div class="modal fade" id="topic-edit-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" id="subpuzzle-create">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add a Subpuzzle</h5>
        </div>
        <div class="modal-body">
          <div class="create_topic">
              <%= simple_form_for([@project, @topic]) do |f| %>
               <%= f.input :name,  label: false, placeholder: 'Name*', input_html: { autocomplete: 'off' }, required: true %>
               <%= f.input :description, label: false, placeholder: 'Describe the goal of the subpuzzle in one sentance*', input_html: { autocomplete: 'off' }, required: true %>
               <div>
                <%= f.input :rules, label: false, placeholder: 'Describe the rules step by step*', input_html: { autocomplete: 'off' }, required: true %>
               </div>
              <hr>
              <p>⚙️ Authorize everyone to :</p>
                <div class="custom-control custom-switch">
                   <%= f.check_box :can_create_task, class: "custom-control-input", id: "customSwitch1"  %>
                    <label class="custom-control-label" for="customSwitch1">Create new tasks</label>
                </div>
                <div class="custom-control custom-switch">
                   <%= f.check_box :can_assign_task, class: "custom-control-input", id: "customSwitch2"  %>
                    <label class="custom-control-label" for="customSwitch2">Assign someone to a task</label>
                 </div>
              <hr>
              <p>💰 Rewards</p>
               <div class="custom-control custom-switch">
                  <%= f.check_box :can_vote, class: "custom-control-input", id: "customSwitch3"  %>
                  <label class="custom-control-label" for="customSwitch3">By vote only</label>
               </div>
               <%= f.button :submit, "Add Subpuzzle", class: "button-type", id: "button-subpuzzle" %>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>








</div>
</body>


<script>
const ethereumButton = document.querySelector('.enableEthereumButton');
const showAccount = document.querySelector('.showAccount');

ethereumButton.addEventListener('click', (event) => {
  event.currentTarget.classList.toggle("hide-wallet");
  getAccount();
});

async function getAccount() {
  const accounts = await ethereum.request({ method: 'eth_requestAccounts' });
  const account = accounts[0];
  showAccount.innerHTML = account;
}
</script>

<!-- End of container -->
