<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<div class="container">

  <div class="puzzle-header">
    <div>
      <div class="header1">
        <%= cl_image_tag("logo_emubp5", :width => 30, height: 46) %>
        <h1 id="project-header-title">
          <b id="text-low"><%="  "+ @project.name %> 's Puzzle : <%= @project.tasks.where(status: "claimed").map { |task| task.token_number.to_i }.sum %> / <%=@project.tasks.map { |task| task.token_number.to_i }.sum %><%= cl_image_tag("puzzle-piece-solid_28_s8rwtd", :width => 40, style: "padding-bottom: 10px; margin-left: 10px;") %></b></h1>
        <div class="img-user">
        <% if current_user.photo.attached? %>
          <div class="token_box">
            <p><%= cl_image_tag current_user.photo.key, width: 30, style: "border-radius: 100%" %>
              <%= current_user.tasks.where(status: "claimed").map { |task| task.token_number.to_i }.sum %><%= cl_image_tag("puzzle-piece-solid_35_hwdbp3", :width => 25, style: "margin-left: 10px; padding-bottom: 5px") %></p>
            <% else %>
            <div class="photo-round">
              <p><div class="profile-background" id="editable-photo">
                    <i id="user_blank" class="far fa-user"></i>
                </div><%= current_user.tasks.where(status: "claimed").map { |task| task.token_number.to_i }.sum %></p>
            </div>
          <% end %>
          </div>
        </div>
      </div>
      <div id="header2">
        <%= link_to "", "data-toggle" => "modal", 'data-target' => '#membersmodal' do %>
          <div class="members-profiles">
          <% @project.users.each do |user| %>
              <div class="photo-round-small-30">
                <% if user.photo.attached? %>
                  <%= cl_image_tag user.photo.key, width: 20, style: "border-radius: 100%"  %>
                <% else %>
                  <div class="profile-backgroun-small-30">
                    <i id="user_blank-small-30" class="far fa-user"></i>
                  </div>
                <% end %>
              </div>
          <% end %>
        </div>
      <% end %>
      <div class="token_box" id="share">
        <p>  Share Puzzle    <i class="fas fa-link"></i></p>
      </div>
    </div>
  </div>
</div>


  <hr id="separation1">

  <div class="filters">
    <%= link_to project_tasks_path(@project) do %>
      <div class="filter">
          <p>#All pieces</p>
      </div>
  <% end %>
      <%= link_to project_tasks_path(@project, :confidentiality =>"Private") do %>
    <div class="filter">
      <p>#Private</p>
    </div>
      <% end %>
    <div class="filter">
      <%= link_to project_tasks_path(@project, :user_id => current_user.id) do %>
      <p>#Assigned to me </p>
      <% end %>
    </div>
      <%= link_to project_tasks_path(@project, :user_id => nil) do %> <!-- Doesn't work -->
    <div class="filter">
      <p>#Unassigned</p>
    </div>
      <% end %>
    <div class="filter">
    <%= link_to project_tasks_path(@project, :status=>"ongoing") do %>
      <p>#On going</p>
    </div>
    <% end %>
    <%= link_to project_tasks_path(@project, :status=>"claimed") do %>
      <div class="filter">
        <p>#Done</p>
      </div>
    <% end %>
    <% @project.tasks.uniq { |f| [ f.topic] }.each do |task| %>
      <%= link_to project_tasks_path(@project, :topic => task.topic) do %>
      <div class="filter">
          <p>#<%= task.topic %></p>
      </div>
      <% end %>
    <% end %>
  </div>




  <div class="task-create-button">
    <%= simple_form_for([ @project, @task ], remote: true, :authenticity_token => true ) do |f| %>
      <%= f.input :title, label: false, placeholder: '+ Create a new puzzle piece', input_html: { autocomplete: 'off' }, :error_html => { :id => "name_error"} %>
      <%= f.error :name, :id => "name_error" %>
      <%= f.button :submit, style: "display: none" %>
    <% end %>
  </div>

<!-- Start of the index of the tasks @filtered_tasks -->


  <div id="tasks">
    <% if @project.tasks.blank? %>
      Be the first to create a task
    <% else %>
      <% @filtered_tasks.sort.reverse.each do |task| %>
        <div class="task-card" id="task-<%= task.id %>"> <!-- Start of task-card div -->
          <div class="task-edit"> <!-- Div for token number form or display -->
            <div>
              <% if task.token_number.nil? %>
                <%= simple_form_for([ @project, task ]) do |f| %>
                  <%= f.input :token_number, label: false, placeholder: '0', input_html: { autocomplete: 'off' } %>
                  <%= f.button :submit, style: "display: none;" %>
              <% end %>
              <% else %>
                <p id="token-number"><%= task.token_number %><%= cl_image_tag("puzzle-piece-solid_28_s8rwtd", :width => 25, style: "margin-left: 10px; padding-bottom: 5px") %></p>
              <% end %>
            </div>
          </div>

          <% if task.confidentiality == "Private" && task.user.nil? %>   <!-- Div for "status" pastille of the task -->
            <div class="confidentiality-private">
              <p>Private</p>
            </div>
          <% elsif task.confidentiality == "Public" && task.user.nil? %>
            <div class="status-unassigned">
              <p>Unassigned</p>
            </div>
          <% elsif task.status == "claimed" %>
            <div class="status-done">
              <p>Done</p>
            </div>
          <% else %>
            <div class="status-ongoing">
              <p>On going</p>
            </div>
          <% end %>

          <div class="task_assign_title">
            <% if task.user.nil? %><!-- Photo of the user when assigned -->
            <% else %>
              <div class="photo-round-small">
                <% if task.user.photo.attached? %>
                  <%= cl_image_tag task.user.photo.key, width: 20, style: "border-radius: 100%" %>
                <% else  %>
                <% end %>
              </div>
            <% end %>
            <div class="task-title"><!-- Task title div -->
              <p><%= task.title %></p>
            </div>
          </div>

          <div class="task-topic">
            <%if task.topic.nil? %>
              <%= simple_form_for([ @project, task ]) do |f| %>
                  <%= f.input :topic, label: false, placeholder: '#topic', input_html: { autocomplete: 'off' } %>
                  <%= f.button :submit, style: "display: none;" %>
                <% end %>
              <% else %>
                <p><%= task.topic %></p>
            <% end %>
          </div>


            <div class="comment"> <!-- Commment icon to open Modal task description -->
              <a href="#description-<%= task.id %>" data-toggle="modal" data-target="#description-<%= task.id %>">
                <i class="far fa-comment"></i>
              </a>
            </div>


          <!-- Modal task description -->
            <div id="description-<%= task.id %>" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document" id="description-dialog">
                <div class="modal-content" id="description">
                  <div class="modal-header" id="description-header">
                    <h2 class="modal-title" id="exampleModalLabel">
                      <%= task.token_number %><%= cl_image_tag("puzzle-piece-solid_28_s8rwtd", :width => 40, style: "padding-bottom: 15px; margin-left: 10px;") %> <%= task.title %></h2>
                  </div>
                  <div class="modal-body" id="description-body">
                    <div class="task-creator">
                      <p>Created by @<%= task.creator.first_name %><%= task.creator.last_name %>  <%= time_ago_in_words(task.created_at)%> ago </p>
                      <% if task.topic.nil? %>
                        <p>No #topic yet </p>
                      <% else %>
                        <p style="color: white">#<%= task.topic  %></p>
                      <% end %>
                      <% if task.user_id.nil? && task.confidentiality  == "Public" %>
                        <%= simple_form_for([ @project, task ], html: { class: "form-horizontal"}, remote: true, :authenticity_token => true) do |f| %>
                          <%= f.input :status, label: false, input_html: {value: 'ongoing', hidden: true}, style: "display: none" %>
                          <%= f.association :user, :as => :collection_select, collection: @project.users, label: false, prompt: 'Contributor', :label_method => lambda { |user| "@#{user.first_name} #{user.last_name}" } %>
                            <%= f.button :button, id: 'button-done' do %>
                              + <i class="far fa-user"></i>
                            <% end %>
                          <% end %>
                      <% elsif task.confidentiality  == "Private" %>
                        <%= simple_form_for([ @project, task ]) do |f| %>
                        <%= f.input :confidentiality, label: false, input_html: {value: 'Public', hidden: true} %>
                          <%= button_tag type: 'submit', class: "button-postfix", id: 'button-done' do %>
                            <p>Make public   <i class="fas fa-eye"></i></p>
                          <% end %>
                      <% end %>
                      <% else %>
                        <p>Assigned to @<%= task.user.first_name %><%= task.user.first_name %></p>
                      <% end %>
                    <hr>
                  </div>
                  <% if task.description.nil? %>
                    <%= simple_form_for([ @project, task ]) do |f| %>
                      <%= f.input :description, label: false, placeholder: 'Add description to the piece...'%>
                      <%= f.button :submit %>
                  <% end %>
                  <% else %>
                    <p><%= task.description %></p>
                  <% end %>
                  <hr>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Task time -->

          <% if task.confidentiality == "Private" %><!-- Step 1: Form for publishing the task to public  -->
            <div class="task-edit" id="task-user-align">
              <%= simple_form_for([ @project, task ]) do |f| %>
                <%= f.input :confidentiality, label: false, input_html: {value: 'Public', hidden: true} %>
                  <%= button_tag type: 'submit', class: "button-postfix" do %>
                    <p>Make public   <i class="fas fa-eye"></i></p>
                  <% end %>
              <% end %>
            </div>
          <% elsif task.confidentiality == "Public" && task.user.nil? %><!-- Step 2: Form for assigning a contributor the task to public  -->
             <div class="task-edit" id="task-user-align">
                <%= simple_form_for([ @employer, @project, task ], html: { class: "form-horizontal"}, remote: true, :authenticity_token => true) do |f| %>
                  <%= f.input :status, label: false, input_html: {value: 'ongoing', hidden: true}, style: "display: none" %>
                  <%= f.association :user, :as => :collection_select, collection: @project.users, label: false, prompt: 'Contributor', :label_method => lambda { |user| "@#{user.first_name} #{user.last_name}" } %>
                    <%= f.button :button, id: 'button-done' do %>
                      + <i class="far fa-user"></i>
                    <% end %>
                <% end %>
              </div>

          <% elsif task.status == "ongoing" %><!-- Step 3: Form for marking the task as done  -->
            <div class="task-edit" id="task-user-align">
              <%= simple_form_for([ @project, task ]) do |f| %>
                <%= f.input :status, label: false, input_html: {value: 'claimed', hidden: true}, id: "form-claim" %>
                <%= f.submit 'Mark as done >', id: 'button-done-2'%>
              <% end %>
            </div>
          <% else %><!-- Step 4: When everything is done  -->
          <% end %>
        </div>
      <% end %>
    <% end %>
</div>


<div class="modal fade" id="membersmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="member-header">
          <h5 class="modal-title"><%= @project.name %> 's Puzzle members </h5>
          <p><%= @project.users.count %> members in the puzzle</p>
        </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div>
          <div class="member-line">
            <div class="photo-round-small-40">
              <% if @project.user.photo.attached?  %>
                <p><%= cl_image_tag @project.user.photo.key, width: 30, style: "border-radius: 100%" %>
              <% else %>
                <div class="photo-round-small-40">
                  <div class="profile-background" id="editable-photo">
                      <i id="user_blank-small-40" class="far fa-user"></i>
                  </div>
                </div>
              <% end %>
            </div>
            <p><%= @project.user.tasks.where(status: "claimed").map { |task| task.token_number.to_i }.sum %><%= cl_image_tag("puzzle-piece-solid_28_s8rwtd", :width => 25, style: "margin-left: 10px; padding-bottom: 5px") %></p>
            <% if @project.user.pseudo.nil? %>
              <p id="name">@<%= @project.user.first_name + " " %><%= @project.user.last_name %></p>
            <% else %>
              <p id="name">@<%= @project.user.pseudo %></p>
            <% end %>
            <div class="filter" id="member-state">
              <p>Puzzle Master 👑</p>
            </div>
        </div>
      </div>
       <% @project.users.each do |member| %>
        <% if member != @project.user %>
                <div class="project-users">
                    <% if member.photo.attached? %>
                      <div class="member-line">
                        <div class="photo-round-small-40">
                          <p><%= cl_image_tag member.photo.key, width: 30, style: "border-radius: 100%" %>
                        </div>
                        <% else %>
                            <div class="photo-round-small-40">
                            <div class="profile-background" id="editable-photo">
                            <i id="user_blank-small-40" class="far fa-user"></i>
                            </div>
                          </div>
                        <% end %>
                        <p><%= current_user.tasks.where(status: "claimed").map { |task| task.token_number.to_i }.sum %><%= cl_image_tag("puzzle-piece-solid_28_s8rwtd", :width => 25, style: "margin-left: 10px; padding-bottom: 5px") %></p>
                          <% if member.pseudo.nil? %>
                            <p id="name">@<%= member.first_name + " " %><%= member.last_name %></p>
                          <% else %>
                            <p id="name">@<%= member.pseudo %></p>
                          <% end %>
                          <% if member.tasks.nil?  %>
                            <div class="filter" id="member-state">
                              <p>Member 👤</p>
                            </div>
                          <% else %>
                            <div class="filter" id="member-state">
                              <p>Contributor 🔥</p>
                            </div>
                          <% end %>
                        </div>
                    <% end %>
                </div>
            <% end %>
    </div>
  </div>
</div>


</div>
