<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>


<div class="container" data-controller="tasks" id="mainContainer" data-user-id="<%= current_user.id %>">
  <div class="puzzle-header">
    <div>
      <div class="header1">
        <%= image_tag("logo.png", :width => 30, height: 46) %>
        <h1 id="project-header-title">
          <b id="text-low">
            <%= @project.name %> 's Puzzle :
            <span id="tokenSubTotal">
              <%= @project.public_tasks.where(status: "claimed").pluck(:token_number).map(&:to_i).sum %>
            </span>
            /
            <span id="tokenTotal">
              <%= @project.public_tasks.pluck(:token_number).map(&:to_i).sum %>
            </span>
            <%= image_tag("piece.png", :width => 40, style: "padding-bottom: 10px; margin-left: 10px;") %>
          </b>
        </h1>
        <div class="img-user">
          <div class="token_box">
            <p>
              <% if current_user.photo.attached? %>
                <%= cl_image_tag current_user.photo.key, width: 30, style: "border-radius: 100%" %>
              <% else %>
                  <i id="user_blank-small-40" class="far fa-user" style="margin-left: 10px" data-toggle="modal" data-target="#photo-modal"></i>
              <% end %>
              <span id="tokenUserTotal" data-id="<%= current_user.id %>">
                <%= current_user.tasks.where(status: "claimed").pluck(:token_number).map(&:to_i).sum %>
              </span>
              <%= image_tag("piece-title.png", :width => 25, style: "margin-left: 10px; padding-bottom: 5px") %>
            </p>
            <div class="nav-item dropdown">
              <i class="fas fa-chevron-down dropdown-toggle"id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ></i>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <%= link_to "Connect your wallet (soon 🔒)", "", class: "dropdown-item" %>
                  <%= link_to "Puzzle token marketplace (soon 🔒)", "", class: "dropdown-item" %>
                  <%= link_to "Explore Puzzles (soon 🔒)", "", class: "dropdown-item" %>
                  <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </div>
          </div>
          </div>
        </div>
      </div>
      <div id="header2">
        <%= link_to "", "data-toggle" => "modal", 'data-target' => '#membersmodal' do %>
          <div class="members-profiles">
            <% @project.users.each do |user| %>
              <div class="photo-round-small-30">
                <% if user.photo.attached? %>
                  <%= cl_image_tag user.photo.key, width: 20, style: "border-radius: 100%"  %>
                <% else %>
                  <div class="profile-backgroun-small-30">
                    <i id="user_blank-small-30" class="far fa-user"></i>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
        <div class="token_box" id="share" data-url="<%= join_project_url(@project.uuid) %>" data-toggle="tooltip" data-placement="left">
          <p>Share Puzzle <i class="fas fa-link"></i></p>
        </div>
      </div>
    </div>
  </div>

  <hr id="separation1">

  <!-- Filters with links_to and params for filtering the view -->
  <div data-controller="filter">
    <div class="filters">
      <%= render "tasks/filters", project: @project, topics: @topics %>
    </div>

    <div class="task-create-button">
      <%= simple_form_for([ @project, @task ], html: { "data-tasks-target": "createForm", "data-action": "submit->tasks#submit" }) do |f| %>
        <%= f.input :title, label: false, placeholder: '+ Create a new puzzle piece', input_html: { autocomplete: 'off', "data-tasks-target": "input" }, :error_html => { :id => "name_error"} %>
      <% end %>
    </div>

    <!-- Start of the index of the tasks @filtered_tasks -->


    <div id="tasks" data-project-id="<%= @project.id %>" data-filter-target="list" data-tasks-target="list" > <!-- Div with all the tasks -->
      <% if @project.tasks.empty? %>
        Be the first to create a task
      <% else %>
        <%= render "tasks/list", tasks: @tasks %>
      <% end %>
    </div>
  </div>
  <!-- End of the list of tasks-->

  <!-- Modal for project members -->
  <div class="modal fade" id="membersmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="member-header">
            <h5 class="modal-title"><%= @project.name %> 's Puzzle members </h5>
            <p><%= @project.users.count %> members in the puzzle</p>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div>
          <div class="member-line">

              <% if @project.user.photo.attached?  %>
                <div class="photo-round-small-40">
                <%= cl_image_tag @project.user.photo.key, width: 30, style: "border-radius: 100%" %>
                </div>
              <% else %>
                <div class="photo-round-small-40">
                  <div class="profile-background" id="editable-photo">
                      <i id="user_blank-small-40" class="far fa-user"></i>
                  </div>
                </div>
              <% end %>
            <p><%= @project.user.tasks.where(status: "claimed").map { |task| task.token_number.to_i }.sum %><%= image_tag("piece.png", :width => 25, style: "margin-left: 10px; padding-bottom: 5px") %></p>
            <% if @project.user.pseudo.nil? %>
              <p id="name">@<%= @project.user.first_name + " " %><%= @project.user.last_name %></p>
            <% else %>
              <p id="name">@<%= @project.user.pseudo %></p>
            <% end %>
            <div class="filter" id="member-state">
              <p>Puzzle Master 👑</p>
            </div>
          </div>
          <% @project.users.each do |member| %>
            <% if member != @project.user %>
              <div class="project-users">
                <div class="member-line">
                  <% if member.photo.attached? %>
                    <div class="photo-round-small-40">
                      <%= cl_image_tag member.photo.key, width: 30, style: "border-radius: 100%" %>
                    </div>
                  <% else %>
                      <div class="profile-background" id="editable-photo">
                        <i id="user_blank-small-40" class="far fa-user"></i>
                      </div>
                  <% end %>
                  <p><%= member.tasks.where(status: "claimed").map { |task| task.token_number.to_i }.sum %><%= image_tag("piece.png", :width => 25, style: "margin-left: 10px; padding-bottom: 5px") %></p>
                  <% if member.pseudo.nil? %>
                    <p id="name">@<%= member.first_name + " " %><%= member.last_name %></p>
                  <% else %>
                    <p id="name">@<%= member.pseudo %></p>
                  <% end %>
                  <% if member.tasks.nil?  %>
                    <div class="filter" id="member-state">
                      <p>Member 👤</p>
                    </div>
                  <% else %>
                    <div class="filter" id="member-state">
                      <p>Contributor 🔥</p>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<!-- End of container -->
  <div class="modal fade" id="photo-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Change your photo</h5>
        </div>
        <div class="modal-body">
          <%= render template: "devise/registrations/edit" %>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- End of container -->
