


  <%= simple_form_for([ @project, @task ]) do |f| %>

      <%= f.input :confidentiality, as: :boolean, label: false, input_html: {value: 'Public', hidden: true} %>
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="customSwitch-<%=@task.id%>">
        <label class="custom-control-label" for="customSwitch-<%=@task.id%>">Public</label>
        </div>

      <%= f.input :description %>
   <%= f.submit 'Add changes'%>

  <% end %>
