<div class="body-onboarding">
  <div class="page-header">
    <div id="firs-separation" class="col-7">
      <% if user_signed_in? %>
        <div id="token_box">
          <p>
            <% if current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key, width: 30, style: "border-radius: 100%" %>
            <% else %>
              <i id="user_blank-small-40" class="far fa-user" style="margin-left: 10px" data-toggle="modal" data-target="#photo-modal"></i>
            <% end %>
              <span id="tokenUserTotal" data-id="<%= current_user.id %>">
                <%= current_user.tasks.where(status: "claimed").pluck(:token_number).map(&:to_i).sum %>
              </span>
          </p>
            <div class="nav-item dropdown">
              <i class="fas fa-chevron-down dropdown-toggle"id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ></i>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </div>
      </div>
      <% end %>
    </div>
  </div>

  <div class="container" data-controller="tasks" id="mainContainer2">
    <div id="onbord-puzzle" class="puzzle-header">
      <%= image_tag("piece-title.png", :width => 40, style: "margin-left: 10px; margin-bottom: 10px") %>
      <%= image_tag("piece-title.png", :width => 40, style: "margin-left: 10px; margin-bottom: 10px") %>
      <p>0/2 piece unlocked (complete the onboarding to win)</p>
    </div>
      <hr id="separation1">
    <div class="project-description">
      <div class="project-detail">
        <h1 class="onboarding-title" id="project-header-title-2">Create your Puzzle <%= image_tag("pencil.png", :width => 50, style: "padding-bottom: 10px") %></h1>
        <%= simple_form_for @project do |f| %>
          <%= f.input :name, label: false, placeholder: 'What’s your Puzzle name ?*', input_html: { autocomplete: 'off' }, required: true, error: "Project name is missing", style: "border-radius: 50px" %>
          <%= f.input :description, label: false, placeholder: 'Describe your Puzzle in one sentance*', input_html: { autocomplete: 'off' }, required: true, error: "description is missing" %>
      </div>
    </div>
    <%= f.submit 'Unlock 1/2 piece', class: "button-type", id: "button-project", style: "background-color: #{@project.txt_color};" %>
    <% end %>
  </div>

</div>

