<div class="body-onboarding">
  <div class="page-header">
    <div id="firs-separation" class="col-7">
      <% if user_signed_in? %>
        <div id="token_box">
          <p>
            <li class="nav-item dropdown">
              <a class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= image_tag("logo2.png", :width => 50, style: "margin-bottom: 5px;") %>
              </a>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </div>
            </li>
            <% if current_user.photo.attached? %>
            <div>
              <%= cl_image_tag current_user.photo.key, width: 30, height: "auto", style: "border-radius: 100%;" %>
            </div>
            <% else %>
              <i id="user_blank-small-40-1" class="far fa-user" style="margin-left: 10px"></i>
            <% end %>
              <span id="tokenUserTotal" data-id="<%= current_user.id %>">
                <%= current_user.tasks.where(status: "claimed").pluck(:token_number).map(&:to_i).sum %>
              </span>
          </p>
          |
      </div>
      <% end %>
    </div>
  </div>

  <div class="container" data-controller="tasks" id="mainContainer2">
    <div class="project-description">
      <div class="project-detail">
        <h1 class="onboarding-title" id="project-header-title-2">Create your Puzzle</h1>
        <%= simple_form_for @project, html: { id: :edit_project } do |f| %>
          <%= f.input :name, label: false, placeholder: 'What’s your Puzzle name ?*', input_html: { autocomplete: 'off' }, required: true, error: "Project name is missing", style: "border-radius: 50px" %>
          <%= f.input :description, label: false, placeholder: 'Describe your Puzzle in one sentance*', input_html: { autocomplete: 'off' }, required: true, error: "description is missing" %>
        <div style="margin-top: 100px;">
          <%= f.input :logo, as: :file, :label  =>  'Add a logo (square)' %>
        </div>
      </div>
    </div>
    <%= f.submit 'Next', class: "button-type", id: "button-project", style: "background-color: #{@project.txt_color};" %>
    <% end %>
  </div>

</div>

