
<div class="container">

  <div class="intro">
    <div class="img-user">
       <%= cl_image_tag current_user.photo.key, width: 70, style: "border-radius: 100%" %>
        <span class="badge"><p>  <%= current_user.tasks.where(status: "claimed").map { |task| task.token_number.to_i }.sum %></p></span>
    </div>
    <div class="notifications">
      <p id="bell">🔔</p>
      <p class="button-invite">+ Invite to workspace</p>
    </div>
  </div>

  <%= simple_form_for([ @employer, @project ]) do |f| %>
      <%= f.input :date, input_html: { class: "datepicker" } %>
      <%= f.button :submit, style: "display: none" %>
  <% end %>

  <p id="timer"><%= pluralize @date[:days], "day" %> : <%= pluralize @date[:hours], "hour" %></p>

  <div class="menu">
    <p id="project-item">Projects</p>
  </div>
  <hr>

  <h4>
    <%= link_to employer_projects_path(@employer) do %>
      <i id="back-arrow" class="fas fa-chevron-left"></i>
    <% end %>
  <b><%="  "+ @project.name %></b></h4>

  <div class="project-users">
      <div class="project-user" id="manager">
          <div class="photo-round">
            <%= cl_image_tag @project.user.photo.key, width: 60, style: "border-radius: 100%" %>
            <span class="badge-2"><p>👑</span>
          </div>
          <p><%= @project.user.first_name + " " %><%= @project.user.last_name %></p>
        </div>
    <% @project.users.uniq.each do |user| %>
      <% if user != @project.user %>
        <div class="project-user">
          <div class="photo-round">
            <%= cl_image_tag user.photo.key, width: 60, style: "border-radius: 100%" %>
            <span class="badge"><p>  <%= user.tasks.where(status: "claimed").map { |task| task.token_number.to_i }.sum %></p></span>
          </div>
          <p><%= user.first_name + " " %><%= user.last_name %></p>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="task-create-button">
    <%= simple_form_for([ @employer, @project, @task ]) do |f| %>
      <%= f.input :title, label: false, placeholder: '+ Create a new task', input_html: { autocomplete: 'off' }, :error_html => { :id => "name_error"} %>
      <%= f.error :name, :id => "name_error" %>
      <%= f.button :submit, style: "display: none" %>
    <% end %>
  </div>

  <div id="tasks">
    <% if @project.tasks.blank? %>
      Be the first to create a task
    <% else %>
      <% @project.tasks.sort.reverse.each do |task| %>
        <div class="task-card">
          <div class="task-edit">
            <div class="">
              <% if task.token_number.nil? %>
                <%= simple_form_for([ @employer, @project, task ]) do |f| %>
                  <%= f.input :token_number, label: false, placeholder: '0', input_html: { autocomplete: 'off' } %>
                  <%= f.button :submit, style: "display: none" %>
              <% end %>
              <% else %>
                <p id="token-number"><%= task.token_number %> 🍭</p>
              <% end %>
            </div>
          </div>
          <% if task.user.nil? %>
            <div class="status-unassigned">
              <p>Unassigned</p>
            </div>
          <% elsif task.status == "claimed" %>
            <div class="status-done">
              <p>Done</p>
            </div>
          <% else %>
            <div class="status-ongoing">
              <p>On going</p>
            </div>
          <% end %>
          <% if task.user.nil? %>
          <% else %>
            <div class="photo-round-small">
            <%= cl_image_tag task.user.photo.key, width: 20, style: "border-radius: 100%" %>
            </div>
          <% end %>
          <div class="task-title">
            <p><%= task.title %></p>
          </div>
          <div class="task-edit">
            <% if task.user.nil? %>
              <%= simple_form_for([ @employer, @project, task ]) do |f| %>
              <%= f.association :user, :as => :collection_select, collection: User.where(employer: @employer), label: false, prompt: 'Assign', :label_method => lambda { |user| "#{user.first_name} #{user.last_name}" } %>
              <%= f.button :submit, style: "display: none" %>
              <% end %>
            <% end %>
          </div>
          <% if task.user.nil? == false && task.status != "claimed" %>
            <div class="task-edit">
              <%= simple_form_for([ @employer, @project, task ]) do |f| %>
              <%= f.input :status, label: false, input_html: {value: 'claimed', hidden: true}, id: "form-claim" %>
              <%= f.submit 'Mark as done >', id: 'button-done'%>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<script>
  window.initializeClock = function(clockId, dateId) {
    var getTimeRemaining = function(endtime) {
        var t = Date.parse(endtime) - (new Date()).getTime();
        var seconds = Math.floor( (t/1000) % 60 );
        var minutes = Math.floor( (t/1000/60) % 60);
        var hours = Math.floor( (t/(1000*60*60)) % 24);
        var days = Math.floor( t/(1000*60*60*24) );
        return {
            'total': t,
            'days': days,
            'hours': hours,
            'minutes': minutes,
            'seconds': seconds
        };
    }

    var clock = document.getElementById(clockId);
    var deadline = document.getElementById(dateId).value;
    var timeinterval = setInterval(function(){
        var t = getTimeRemaining(deadline);
        clock.innerHTML = 'days: ' + t.days + '<br>' + 'hours: ' + t.hours + '<br>' + 'minutes: ' + t.minutes + '<br>' + 'seconds: ' + t.seconds;
        if(t.total<=0){
            clearInterval(timeinterval);
        }
    }, 1000);
}
</script>
