
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<div class="container">

  <div class="puzzle-header">
    <div>
      <div class="header1">
        <h1 id="project-header-title">
          <b><%="  "+ @project.name %> 's Puzzle : <%= @project.tasks.where(status: "claimed").map { |task| task.token_number.to_i }.sum %> / <%=@project.tasks.map { |task| task.token_number.to_i }.sum %> <i class="fas fa-puzzle-piece"></i></b></h1>
        <div class="img-user">
        <% if current_user.photo.attached? %>
          <div class="token_box">
            <p><%= cl_image_tag current_user.photo.key, width: 30, style: "border-radius: 100%" %>
              <%= current_user.tasks.where(status: "claimed").map { |task| task.token_number.to_i }.sum %></p>
            <% else %>
            <div class="photo-round">
              <p><div class="profile-background" id="editable-photo">
                    <i id="user_blank" class="far fa-user"></i>
                </div><%= current_user.tasks.where(status: "claimed").map { |task| task.token_number.to_i }.sum %></p>
            </div>
          <% end %>
          </div>
        </div>
      </div>
    <div>
        <%= link_to "", "data-toggle" => "modal", 'data-target' => '#membersmodal' do %>
          <div class="members-profiles">
          <% @project.users.each do |user| %>
              <div class="photo-round-small-30">
                <% if user.photo.attached? %>
                  <%= cl_image_tag user.photo.key, width: 20, style: "border-radius: 100%"  %>
                <% else %>
                  <div class="profile-backgroun-small-30">
                    <i id="user_blank-small-30" class="far fa-user"></i>
                  </div>
                <% end %>
              </div>
          <% end %>
        </div>
      <% end %>



    </div>


  </div>


  <hr>

  <div class="filters">
    <%= link_to project_path(@project, private_filter: true) do %>
      <div class="filter">
        <p>#All pieces</p>
      </div>
    <% end %>
    <div class="filter">
      <p>#Private</p>
    </div>
    <div class="filter">
      <p>#Assigned to me </p>
    </div>
    <div class="filter">
      <p>#Unassigned</p>
    </div>
    <div class="filter">
      <p>#On going</p>
    </div>
    <div class="filter">
      <p>#Done</p>
    </div>
  </div>


  <div class="task-create-button">
    <%= simple_form_for([ @project, @task ], remote: true, :authenticity_token => true ) do |f| %>
      <%= f.input :title, label: false, placeholder: '+ Create a new puzzle piece', input_html: { autocomplete: 'off' }, :error_html => { :id => "name_error"} %>
      <%= f.error :name, :id => "name_error" %>
      <%= f.button :submit, style: "display: none" %>
    <% end %>
  </div>

  <div id="tasks">
    <% if @project.tasks.blank? %>
      Be the first to create a task
    <% else %>
      <% @project.tasks.sort.reverse.each do |task| %>
        <div class="task-card" id="task-<%= task.id %>">
          <div class="task-edit">
            <div>
              <% if task.token_number.nil? %>
                <%= simple_form_for([ @project, task ]) do |f| %>
                  <%= f.input :token_number, label: false, placeholder: '0', input_html: { autocomplete: 'off' } %>
                  <%= f.button :submit, style: "display: none;" %>
              <% end %>
              <% else %>
                <p id="token-number"><%= task.token_number %> 🍪</p>
              <% end %>
            </div>
          </div>
          <% if task.confidentiality == "Private" && task.user.nil? %>
            <div class="confidentiality-private">
              <p>Private</p>
            </div>
          <% elsif task.confidentiality == "Public" && task.user.nil? %>
            <div class="status-unassigned">
              <p>Unassigned</p>
            </div>
          <% elsif task.status == "claimed" %>
            <div class="status-done">
              <p>Done</p>
            </div>
          <% else %>
            <div class="status-ongoing">
              <p>On going</p>
            </div>
          <% end %>
          <% if task.user.nil? %>
          <% else %>
            <div class="photo-round-small">
              <% if task.user.photo.attached? %>
                <%= cl_image_tag task.user.photo.key, width: 20, style: "border-radius: 100%" %>
              <% else  %>
              <% end %>
            </div>
          <% end %>
          <div class="task-title">
            <p><%= task.title %></p>
          </div>
          <div class="task-topic">
            <%if task.topic.nil? %>
              <%= simple_form_for([ @project, task ]) do |f| %>
                  <%= f.input :topic, label: false, placeholder: '#topic', input_html: { autocomplete: 'off' } %>
                  <%= f.button :submit, style: "display: none;" %>
                <% end %>
              <% else %>
                <p>#<%= task.topic %></p>
          <% end %>
          </div>
          <div class="task-edit" id="task-user-align">
            <% if task.confidentiality != "Private"%>
              <%= simple_form_for([ @employer, @project, task ], html: { class: "form-horizontal"}, remote: true, :authenticity_token => true) do |f| %>
              <%= f.association :user, :as => :collection_select, collection: User.where(employer: @employer), label: false, prompt: 'Contributor', :label_method => lambda { |user| "#{user.first_name} #{user.last_name}" } %>
                <%= f.button :button, id: 'button-done' do %>
                  + <i class="far fa-user"></i>
                <% end %>
              <% end %>
            <% end %>
          </div>
          <% if task.user.nil? == false && task.status != "claimed" %>
            <div>
              <%= simple_form_for([ @project, task ]) do |f| %>
              <%= f.input :status, label: false, input_html: {value: 'claimed', hidden: true}, id: "form-claim" %>
              <%= f.submit 'Mark as done >', id: 'button-done-2'%>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
</div>

<div class="modal fade" id="membersmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">






      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</div>






