<div class="body-onboarding">
  <% if @project.present? %>
  <% else %>
    <div class="page-header">
    </div>
  <% end %>

  <div class="container" data-controller="tasks" id="mainContainer2">
    <div class="project-description">
      <div class="project-detail">
        <% if @project.present? %>
           <h1 class="onboarding-title" id="project-header-title-2">Join <%= @project.name %> Puzzle</h1>
        <% else %>
            <%= image_tag("logo-puzzle.png", :width => 200, style: "padding-bottom: 10px") %>
            <h1 class="onboarding-title" id="project-header-title-2">Log-in </h1>
        <% end %>

        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active" id="pills-contact-tab" data-toggle="pill" href="#pills-discord" role="tab" aria-controls="pills-discord" aria-selected="false">Discord</a>
          </li>
          <li>
            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-email" role="tab" aria-controls="pills-email" aria-selected="false">Email</a>
          </li>
        </ul>

          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-discord" role="tabpanel" aria-labelledby="pills-home-tab">
              <% if @project.present? %>
                <div id="discord-signup">
                  <%= link_to "/users/auth/discord", method: :post, class: "button-type mb-4", style: "background-color: #{@project&.txt_color}" do %>
                    Connect Discord <i class="fab fa-discord"></i>
                  <% end %>
                </div>
                <% else %>
                <div id="discord-signup">
                  <%= link_to "/users/auth/discord", method: :post, class: "button-type mb-4", style: "background-color: #B45CD2" do %>
                    Connect Discord <i class="fab fa-discord"></i>
                  <% end %>
                </div>
              <% end %>
            </div>
            <div class="tab-pane fade" id="pills-email" role="tabpanel" aria-labelledby="pills-home-tab">
                <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <%= f.error_notification %>

                <div class="form-inputs">
                  <%= f.input :email,
                              label: false, placeholder: 'Email*',
                              required: true,
                              autofocus: true,
                              input_html: { autocomplete: 'off'}%>
                  <%= f.input :password,
                              label: false,
                              placeholder: 'Password*',
                              required: true,
                              input_html: { autocomplete: 'off'} %>
                </div>

                <% if @project.present? %>
                  <div class="form-actions">
                    <%= f.button :submit, "Join", class: "button-type" %>
                  </div>
                <% else %>
                  <div class="form-actions">
                    <%= f.button :submit, "Log-in", class: "button-type", style: "background-color: #B45CD2;" %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
