<!DOCTYPE html>
<html>
  <head>
    <title>Puzzle</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <% if @project && @project.background.attached? %>
    <body style="background-image: url(<%= cl_image_path(@project.background.key) %>);">
  <% else %>
    <body style="background-image: url(<%= image_path 'background.png' %>);">
  <% end %>
    <%= yield %>
    <%= render 'shared/flashes' %>
  </body>
</html>
